#top #down {
    text-align: center;
    width: 1170px;
    height: 48px;
    margin：0 auto
}

#right .weixin {
    background-image: url(../media/qrcode_258.png);
    background-repeat: no-repeat;
    background-size: 100px;
}