

.link{
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-right: 10px;

}
#mid{
    margin-left: 50px;
    text-align: center;
}

#mid .blog{
    background-color: black;
}

#mid .code{ 
    background-color: burlywood;
}

#mid .weixin{
    background-image: url(../media/qrcode_258.png);
    background-repeat: no-repeat;
    background-size: 300px;
}


#mid .logo{
    text-align:center;
    font-size: 30px;
}